body{ padding-left: 10px; background-color: #dde}
.file { border: 1px solid black; margin-bottom: 15px; margin-left: 15px;}
.path { }
.code { background-color: #eee;}
.packageDef input[type=text] { width: 300px; }
.packageDef input[type=radio] { width: 30px; }
a.download{ }
div.download{ }
