<template name="packageJs">Package.describe({
  name: "{{ fullPackageName }}",
  summary: "{{ summary }}",
  version: "{{ version }}",
  git: "{{ gitPath }}"
});

Package.onUse(function(api) {
  api.versionsFrom("1.0.1");
  api.use({{ packageDeps }});
  {{> apiFiles }}
  api.export("{{ export }}");
});


{{> Template.dynamic template=testFramework }}

</template>

<template name="testFiles">
{{#each testFiles}}
  api.addFiles("{{ path }}", {{ where }});
{{/each}}
</template>

<template name="apiFiles">
{{#each apiFiles}}
  api.addFiles("{{ path }}", {{ where }});
{{/each}}
</template>
